@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Inter:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.AppHeader {
  padding: 0;
  margin: 0;
  background-color: #2231AA;
}

.bg {
  background-color: #fff;
}

  .App .bg-dark,
  .App .bg-dark > li,
  .App .bg-dark > li > a,
  .App .bg-dark h1,
  .App .bg-dark > h2,
  .App .bg-dark > h3,
  .App .bg-dark > div,
  .App .bg-dark > div > div,
  .bgDark-burger>div[open] {
    background-color: #313037;
    color: white;
  }

.bg-dark a:hover {
  color: rgb(83, 102, 241) !important;
}

.bgLight-burger,
.App .bg-light {
  background-color: transparent;
}

.App .theme-dark,
.theme-dark > a,
.theme-dark h3 {
  color: white;
  background-color: #313037;
}
